<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EHRSystem"
        tools:targetApi="31">

        <!-- Login Activity - NEW LAUNCHER -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Sign Up Activity -->
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />

        <!-- Main Activity - NO LONGER LAUNCHER -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Role Activities -->
        <activity android:name=".ReceptionistActivity" android:exported="false" />
        <activity android:name=".NurseActivity" android:exported="false" />
        <activity android:name=".LabAssistantActivity" android:exported="false" />
        <activity android:name=".DoctorActivity" android:exported="false" />
        <activity android:name=".PharmacistActivity" android:exported="false" />

        <!-- Receptionist Module -->
        <activity android:name=".RegisterPatientActivity" android:exported="false" />
        <activity android:name=".ViewPatientsActivity" android:exported="false" />
        <activity android:name=".ScheduleAppointmentActivity" android:exported="false" />

        <!-- Nurse Module -->
        <activity android:name=".RecordVitalsActivity" android:exported="false" />

        <!-- Lab Assistant Module -->
        <activity android:name=".RequestLabTestActivity" android:exported="false" />
        <activity android:name=".ViewPendingTestsActivity" android:exported="false" />
        <activity android:name=".EnterTestResultsActivity" android:exported="false" />

        <!-- Doctor Module -->
        <activity android:name=".DiagnosePatientActivity" android:exported="false" />
        <activity android:name=".PrescribeMedicationActivity" android:exported="false" />

        <!-- Pharmacist Module -->
        <activity android:name=".ViewPendingPrescriptionsActivity" android:exported="false" />
        <activity android:name=".DispenseMedicationActivity" android:exported="false" />

    </application>

</manifest>